body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

*,
**:before,
**:after{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}


img{
  width: 100%;
  height: auto;
  display: block;
}

body,
html{
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}

h1,h2,h3{
  padding: 0;
  margin: 0;
}

.wrapper{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.titleScreen{
  height: 100vh;
}

.Home,
.OverallHealth,
.Calendar{
  min-height: 100vh;
}

.titleScreen,
.Home,
.OverallHealth,
.Calendar{
  line-height: 1.6;
  letter-spacing: 2px;
  color: rgb(88, 85, 85);
}

.titleScreen{
  color: rgba(211, 211, 211, 0.568);
  background: rgba(20,20,20);
}

.back{
  width: 100px;
  margin-top: 10%;
}

span{
  font-weight: bold;
}

/* TITLE PAGE STYLING */

h1{
  font-size: 60px;
  padding-left: 3vw;
  letter-spacing: 5px;
  margin: 0;
}

.titleScreen h2{
  text-transform: capitalize;
  font-size: 3vw;
}

.titleScreen img{
  max-height: 100%;
  object-fit: cover;
}

.titleScreenCenter{
  text-align: center;
  margin-top: 7%;
}

.titleScreenPets{
  display: flex;
  justify-content: center;
}

.titleScreenPetImage{
  width: 200px;
  height: 200px;
  margin: 3vw;
}

.titleScreenManagePets{
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid rgba(211,211,211,0.568);
  margin: 30px auto 0;
  width: 20vw;
  padding: 3px 0;
  margin-top: 20px;
}

.titleScreenPetDiv:hover .titleScreenPetImage{
  color: white;
  outline: 2px solid white;
  cursor: pointer;
}

.titleScreenPetDiv:hover .titleScreenPetText{
  color: white;
  cursor: pointer;
}

.titleScreenManagePets:hover{
  color: white;
  outline: 1px solid white;
  cursor: pointer;
}

/* HOME PAGE STYLING*/

.Home h2{
  /* font-size: 2.5vw; */
  width: 100%
}

.homeGrid{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.homeQuadrant{
  width: 300px;
  padding: 3%;
  text-align: center;
  margin: 0 10vw;
}

a{
  color: rgb(88, 85, 85);
  text-decoration: none;
}

/* OVERALL HEALTH SECTION STYLING */

.printInput{
  font-size: 20px;
}

.OverallHealth input{
  margin: 10px;
}

.overallHealthFormPhoto button{
  margin-left: 2%;
}

.overallHealthFormSex{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.overallHealthFormSex input{
  margin: 2%;
}

.overallHealthPhoto{
  width: 200px;
  height: 200px;
  outline: 0.5px solid lightgrey;
}

.profileImage{
  max-height: 100%;
  object-fit: cover;
}

.overallHealthFlex {
  display: flex;
  margin-top: 3%;
}

.OverallHealthUpdate{
  margin-left: 10%;
}




/* CALENDAR SECTION STYLING */

.calendarMain{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.calendarQuad{
  border: 2px solid black;
  padding: 30px;
  margin-top: 5%;
  border-radius: 10px;
}

.calendarSymptoms{
  margin-right: 10%;
}

.calendarQuad h3{
  margin: 0;
  font-size: 30px;
}

.Calendar form{
  display: flex;
  flex-direction: column;
}

.Calendar form input,
.OverallHealth input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.Calendar form input{
  margin: 20px 0;
}

.Calendar h2,
.OverallHealth h2{
  font-size: 60px;
  padding-left: 3vw;
  margin: 0;
  letter-spacing: 5px;
}

.calendarMain button,
.OverallHealth button{
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.calendarListFlex{
  display: flex;
  justify-content: space-between;
}

.calendarMain li button{
  margin: 2% 0;
}

.Calendar form input:focus,
button:focus{
  border: 1px solid grey;
}

button:hover{
  background: grey;
  color: white;
}

